. {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    background: #f0f0f0;
    font: 14px/20px Arial, San-Serif;
    color: #555;
    margin: 0;
}
header{
    background:darkblue;
    width: 100%;
    height: 100px;
    /*position: fixed;*/
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0.90;
}
nav {
    float: right;
    padding: 35px 20px 20px 0;
    text-decoration: none;
}
#menu-icon{
    display: hidden;
    width: 40px;
    height: 40px;
    background: center;
}
a:hover#menu-icon{
    border-radius: 4px 4px 0 0;
}
ul {
    list-style: none;
}
nav ul li {
    /*display: inline-block;*/
    float: left;
    padding: 10px;


}
#logo {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    float: left;
    width: 50px;
    height:40px;
    border-radius: 15px;
    background: no repeat center;
}
#box2 {width:498px; height:270px;margin-left: 300px;}
#box1 {width:498px; height:300px;margin-left: 300px;}
#doc {margin:0px;}
#maincontainer {width:1200px;background-color:white; 
height:100vh; background-position: center; background-size: cover; margin-left:auto;
margin-right:auto; background-image: url("Filmrental K.jpg");}
a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: #fff;
    text-decoration: underline;
}
footer {
    background: #333333;
    width: 100%;
    overflow: hidden;
    opacity: 1;

}
footer p, footer h3 {
    color: #fff;
}
footer p a {
    text-decoration: none;
    color: #fff;
}
footer.second{
    border-top: 1px solid #4d4e50;
    background-color: #333333;
    max-height: 50px;
    text-align: center;
    opacity: 0.95;
}
section {
    width: 29%;
    float: left;
    margin: 2% 2%;
    text-align: center;
}
.clear {
    clear: both;
}
article {
    float: left;
    margin: 0 auto;
    width: 50%;
    height: auto;
    padding: 4%;
}
aside {
    float: right;
    margin: 0 auto;
    width: 35%;
    height: auto;
    padding: 2%;
    text-align: center;
}
#carousel {
    margin-top: 20px;
}
#carousel.item img{
    width: 100%;
    height: 300px;
}